In [4]:
import pandas as pd 

df = pd.read_csv('data/draft_qbs_2000-2015.csv')
df.head(10)

,Unnamed: 0,Draft_Yr,Rnd,Pick,Tm,Player,Pos,Age,To,St,G,College/Univ,Player_NFL_Link,Player_NCAA_Link
0,0,2000,1,18,NYJ,Chad Pennington,QB,24.0,2010.0,5,89.0,Marshall,/players/P/PennCh01.htm,http://www.sports-reference.com/cfb/players/ch...
1,1,2000,3,65,SFO,Giovanni Carmazzi,QB,NaN,NaN,0,NaN,Hofstra,NaN,NaN
2,2,2000,3,75,BAL,Chris Redman,QB,23.0,2011.0,0,31.0,Louisville,/players/R/RedmCh00.htm,http://www.sports-reference.com/cfb/players/ch...
3,3,2000,5,163,PIT,Tee Martin,QB,22.0,2003.0,0,3.0,Tennessee,/players/M/MartTe00.htm,http://www.sports-reference.com/cfb/players/te...
4,4,2000,6,168,NOR,Marc Bulger,QB,23.0,2009.0,8,96.0,West Virginia,/players/B/BulgMa00.htm,http://www.sports-reference.com/cfb/players/ma...
5,5,2000,6,183,CLE,Spergon Wynn,QB,22.0,2001.0,0,10.0,Texas St.,/players/W/WynnSp00.htm,http://www.sports-reference.com/cfb/players/sp...
6,6,2000,6,199,NWE,Tom Brady,QB,23.0,2020.0,19,298.0,Michigan,/players/B/BradTo00.htm,http://www.sports-reference.com/cfb/players/to...
7,7,2000,6,202,WAS,Todd Husak,QB,22.0,2000.0,0,1.0,Stanford,/players/H/HusaTo20.htm,http://www.sports-reference.com/cfb/players/to...
8,8,2000,6,205,SDG,JaJuan Seider,QB,NaN,NaN,0,NaN,Florida A&M,NaN,NaN
9,9,2000,7,212,SFO,Tim Rattay,QB,23.0,2007.0,1,40.0,Louisiana Tech,/players/R/RattTi00.htm,http://www.sports-reference.com/cfb/players/ti...

In [5]:
df.shape

(198, 14)

In [ ]:
for