In [1]:
import pandas as pd 
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
url_2010 = "http://www.pro-football-reference.com/years/2010/draft.htm"

# get the html
html = urlopen(url_2010)

# create the BeautifulSoup object
soup = BeautifulSoup(html, "lxml")

In [3]:
# Extract the necessary values for the column headers from the table
# and store them as a list
column_headers = [th.getText() for th in 
                  soup.findAll('tr', limit=2)[1].findAll('th')]

# Add the two additional column headers for the player links
column_headers.extend(["Player_NFL_Link", "Player_NCAA_Link"])

In [4]:
# The data is found within the table rows of the element with id=draft
# We want the elements from the 3rd row and on
table_rows = soup.select("#drafts tr")[2:]

In [5]:
table_rows[0]

<tr><th class="right" data-stat="draft_round" scope="row">1</th><td class="right" csk="0.5" data-stat="draft_pick">1</td><td class="left" csk="ram01" data-stat="team"><a href="/teams/ram/2010_draft.htm" title="St. Louis Rams">STL</a></td><td class="left" csk="Bradford,Sam" data-append-csv="BradSa00" data-stat="player"><a href="/players/B/BradSa00.htm">Sam Bradford </a></td><td class="left" csk="QB--------0001" data-stat="pos">QB</td><td class="right" data-stat="age">22</td><td class="right" data-stat="year_max">2018</td><td class="right iz" data-stat="all_pros_first_team">0</td><td class="right iz" data-stat="pro_bowls">0</td><td class="right" data-stat="years_as_primary_starter">5</td><td class="right" data-stat="career_av">44</td><td class="right" data-stat="draft_av">24</td><td class="right" data-stat="g">83</td><td class="right" data-stat="pass_cmp">1855</td><td class="right" data-stat="pass_att">2967</td><td class="right" data-stat="pass_yds">19449</td><td class="right" data-stat="pass_td">103</td><td class="right" data-stat="pass_int">61</td><td class="right" data-stat="rush_att">146</td><td class="right" data-stat="rush_yds">340</td><td class="right" data-stat="rush_td">2</td><td class="right" data-stat="rec">1</td><td class="right" data-stat="rec_yds">5</td><td class="right iz" data-stat="rec_td">0</td><td class="right iz" data-stat="tackles_solo"></td><td class="right iz" data-stat="def_int"></td><td class="right iz" data-stat="sacks"></td><td class="left" data-stat="college_id"><a href="https://www.pro-football-reference.com/schools/oklahoma/">Oklahoma</a></td><td class="right" data-stat="college_link"><a href="http://www.sports-reference.com/cfb/players/sam-bradford-1.html">College Stats</a></td></tr>

In [6]:
def extract_player_data(table_rows):
    """
    Extract and return the the desired information from the td elements within
    the table rows.
    """
    # create the empty list to store the player data
    player_data = []
    
    for row in table_rows:  # for each row do the following

        # Get the text for each table data (td) element in the row
        # Some player names end with ' HOF', if they do, get the text excluding
        # those last 4 characters,
        # otherwise get all the text data from the table data
        player_list = [td.get_text() for td in row.find_all("th")]
        player_list.extend([td.get_text() for td in row.find_all("td")])

        # there are some empty table rows, which are the repeated 
        # column headers in the table
        # we skip over those rows and and continue the for loop
        if not player_list:
            continue

        # Extracting the player links
        # Instead of a list we create a dictionary, this way we can easily
        # match the player name with their pfr url
        # For all "a" elements in the row, get the text
        # NOTE: Same " HOF" text issue as the player_list above
        links_dict = {(link.get_text()[:-4]   # exclude the last 4 characters
                       if link.get_text().endswith(" HOF")  # if they are " HOF"
                       # else get all text, set thet as the dictionary key 
                       # and set the url as the value
                       else link.get_text()) : link["href"] 
                       for link in row.find_all("a", href=True)}

        # The data we want from the dictionary can be extracted using the
        # player's name, which returns us their pfr url, and "College Stats"
        # which returns us their college stats page
    
        # add the link associated to the player's pro-football-reference page, 
        # or en empty string if there is no link
        player_list.append(links_dict.get(player_list[3], ""))

        # add the link for the player's college stats or an empty string
        # if ther is no link
        player_list.append(links_dict.get("College Stats", ""))

        # Now append the data to list of data
        player_data.append(player_list)
        
    return player_data

In [7]:
# extract the data we want
data = extract_player_data(table_rows)

# and then store it in a DataFrame
df_2010 = pd.DataFrame(data, columns=column_headers)
df_2010.head()

,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,St,...,Rec,Yds,TD,Solo,Int,Sk,College/Univ,,Player_NFL_Link,Player_NCAA_Link
0,1,1,STL,Sam Bradford,QB,22,2018,0,0,5,...,1,5,0,,,,Oklahoma,College Stats,/players/B/BradSa00.htm,http://www.sports-reference.com/cfb/players/sa...
1,1,2,DET,Ndamukong Suh,DT,23,2020,3,5,11,...,0,0,0,368,1,63.5,Nebraska,College Stats,/players/S/SuhxNd99.htm,http://www.sports-reference.com/cfb/players/nd...
2,1,3,TAM,Gerald McCoy,DT,22,2019,1,6,10,...,0,0,0,235,,59.5,Oklahoma,College Stats,/players/M/McCoGe99.htm,http://www.sports-reference.com/cfb/players/ge...
3,1,4,WAS,Trent Williams,T,22,2020,0,7,10,...,0,0,0,,,,Oklahoma,College Stats,/players/W/WillTr21.htm,http://www.sports-reference.com/cfb/players/tr...
4,1,5,KAN,Eric Berry,DB,21,2018,3,5,5,...,0,0,0,377,14,5.5,Tennessee,College Stats,/players/B/BerrEr99.htm,http://www.sports-reference.com/cfb/players/er...

In [12]:
# Create an empty list that will contain all the dataframes
# (one dataframe for each draft)
draft_dfs_list = []

# a list to store any errors that may come up while scraping
errors_list = []

In [14]:
# The url template that we pass in the draft year inro
url_template = "http://www.pro-football-reference.com/years/{year}/draft.htm"

years = range(2010,2016)
# for each year from 1967 to (and including) 2016
for year in years: 
    
    # Use try/except block to catch and inspect any urls that cause an error
    try:
        # get the draft url
        url = url_template.format(year=year)

        # get the html
        html = urlopen(url)

        # create the BeautifulSoup object
        soup = BeautifulSoup(html, "lxml") 

        # get the column headers
        column_headers = [th.getText() for th in 
                          soup.findAll('tr', limit=2)[1].findAll('th')]
        column_headers.extend(["Player_NFL_Link", "Player_NCAA_Link"])

        # select the data from the table using the '#drafts tr' CSS selector
        table_rows = soup.select("#drafts tr")[2:] 

        # extract the player data from the table rows
        player_data = extract_player_data(table_rows)

        # create the dataframe for the current years draft
        year_df = pd.DataFrame(player_data, columns=column_headers)

        # if it is a draft from before 1994 then add a Tkl column at the 
        # 24th position
        if year < 1994:
            year_df.insert(24, "Tkl", "")

        # add the year of the draft to the dataframe
        year_df.insert(0, "Draft_Yr", year)

        # append the current dataframe to the list of dataframes
        draft_dfs_list.append(year_df)
    
    except Exception as e:
        # Store the url and the error it causes in a list
        error =[url, e] 
        # then append it to the list of errors
        errors_list.append(error)

In [15]:
len(errors_list)

0

In [16]:
# store all drafts in one DataFrame
draft_df = pd.concat(draft_dfs_list, ignore_index=True)
draft_df.head()

,Draft_Yr,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,...,Rec,Yds,TD,Solo,Int,Sk,College/Univ,,Player_NFL_Link,Player_NCAA_Link
0,2010,1,1,STL,Sam Bradford,QB,22,2018,0,0,...,1,5,0,,,,Oklahoma,College Stats,/players/B/BradSa00.htm,http://www.sports-reference.com/cfb/players/sa...
1,2010,1,2,DET,Ndamukong Suh,DT,23,2020,3,5,...,0,0,0,368,1,63.5,Nebraska,College Stats,/players/S/SuhxNd99.htm,http://www.sports-reference.com/cfb/players/nd...
2,2010,1,3,TAM,Gerald McCoy,DT,22,2019,1,6,...,0,0,0,235,,59.5,Oklahoma,College Stats,/players/M/McCoGe99.htm,http://www.sports-reference.com/cfb/players/ge...
3,2010,1,4,WAS,Trent Williams,T,22,2020,0,7,...,0,0,0,,,,Oklahoma,College Stats,/players/W/WillTr21.htm,http://www.sports-reference.com/cfb/players/tr...
4,2010,1,5,KAN,Eric Berry,DB,21,2018,3,5,...,0,0,0,377,14,5.5,Tennessee,College Stats,/players/B/BerrEr99.htm,http://www.sports-reference.com/cfb/players/er...

In [18]:
df_qbs = draft_df[draft_df['Pos'] == 'QB']
df_qbs = df_qbs.reset_index(drop=True)
df_qbs

,Draft_Yr,Rnd,Pick,Tm,Player,Pos,Age,To,AP1,PB,...,Rec,Yds,TD,Solo,Int,Sk,College/Univ,,Player_NFL_Link,Player_NCAA_Link
0,2010,1,1,STL,Sam Bradford,QB,22,2018,0,0,...,1,5,0,,,,Oklahoma,College Stats,/players/B/BradSa00.htm,http://www.sports-reference.com/cfb/players/sa...
1,2010,1,25,DEN,Tim Tebow,QB,23,2012,0,0,...,0,0,0,1,,,Florida,College Stats,/players/T/TeboTi00.htm,http://www.sports-reference.com/cfb/players/ti...
2,2010,2,48,CAR,Jimmy Clausen,QB,22,2015,0,0,...,0,0,0,,,,Notre Dame,College Stats,/players/C/ClauJi00.htm,http://www.sports-reference.com/cfb/players/ji...
3,2010,3,85,CLE,Colt McCoy,QB,24,2020,0,0,...,2,8,0,,,,Texas,College Stats,/players/M/McCoCo00.htm,http://www.sports-reference.com/cfb/players/co...
4,2010,4,122,PHI,Mike Kafka,QB,23,2014,0,0,...,0,0,0,,,,Northwestern,College Stats,/players/K/KafkMi00.htm,http://www.sports-reference.com/cfb/players/mi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2015,3,75,NOR,Garrett Grayson,QB,24,2015,0,0,...,0,0,0,,,,Colorado St.,College Stats,/players/G/GrayGa00.htm,http://www.sports-reference.com/cfb/players/ga...
64,2015,3,89,STL,Sean Mannion,QB,23,2019,0,0,...,0,0,0,,,,Oregon St.,College Stats,/players/M/MannSe00.htm,http://www.sports-reference.com/cfb/players/se...
65,2015,4,103,NYJ,Bryce Petty,QB,24,2017,0,0,...,0,0,0,,,,Baylor,College Stats,/players/P/PettBr01.htm,http://www.sports-reference.com/cfb/players/br...
66,2015,5,147,GNB,Brett Hundley,QB,22,2019,0,0,...,1,10,0,,,,UCLA,College Stats,/players/H/HundBr00.htm,http://www.sports-reference.com/cfb/players/br...
67,2015,7,250,DEN,Trevor Siemian,QB,23,2019,0,0,...,0,0,0,,,,Northwestern,College Stats,/players/S/SiemTr00.htm,http://www.sports-reference.com/cfb/players/tr...

In [24]:
rows = ['Draft_Yr', 'Rnd', 'Pick', 'Tm', 'Player', 'Pos', 'Age', 'To', 'St', 'G', 'College/Univ', 'Player_NFL_Link', 'Player_NCAA_Link']
df_qbs = df_qbs[rows]
df_qbs

,Draft_Yr,Rnd,Pick,Tm,Player,Pos,Age,To,St,G,College/Univ,Player_NFL_Link,Player_NCAA_Link
0,2010,1,1,STL,Sam Bradford,QB,22,2018,5,83,Oklahoma,/players/B/BradSa00.htm,http://www.sports-reference.com/cfb/players/sa...
1,2010,1,25,DEN,Tim Tebow,QB,23,2012,1,35,Florida,/players/T/TeboTi00.htm,http://www.sports-reference.com/cfb/players/ti...
2,2010,2,48,CAR,Jimmy Clausen,QB,22,2015,1,21,Notre Dame,/players/C/ClauJi00.htm,http://www.sports-reference.com/cfb/players/ji...
3,2010,3,85,CLE,Colt McCoy,QB,24,2020,2,43,Texas,/players/M/McCoCo00.htm,http://www.sports-reference.com/cfb/players/co...
4,2010,4,122,PHI,Mike Kafka,QB,23,2014,0,4,Northwestern,/players/K/KafkMi00.htm,http://www.sports-reference.com/cfb/players/mi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2015,3,75,NOR,Garrett Grayson,QB,24,2015,0,1,Colorado St.,/players/G/GrayGa00.htm,http://www.sports-reference.com/cfb/players/ga...
64,2015,3,89,STL,Sean Mannion,QB,23,2019,0,13,Oregon St.,/players/M/MannSe00.htm,http://www.sports-reference.com/cfb/players/se...
65,2015,4,103,NYJ,Bryce Petty,QB,24,2017,0,10,Baylor,/players/P/PettBr01.htm,http://www.sports-reference.com/cfb/players/br...
66,2015,5,147,GNB,Brett Hundley,QB,22,2019,1,18,UCLA,/players/H/HundBr00.htm,http://www.sports-reference.com/cfb/players/br...
67,2015,7,250,DEN,Trevor Siemian,QB,23,2019,2,27,Northwestern,/players/S/SiemTr00.htm,http://www.sports-reference.com/cfb/players/tr...

In [25]:
 cleaned = pd.read_csv('data/draft_qbs_2010-2015.csv')
 cleaned.head()

,Unnamed: 0,Draft_Yr,Rnd,Pick,Tm,Player,Pos,Age,To,St,G,College/Univ,Player_NFL_Link,Player_NCAA_Link
0,0,2010,1,1,STL,Sam Bradford,QB,22,2018.0,5,83.0,Oklahoma,/players/B/BradSa00.htm,http://www.sports-reference.com/cfb/players/sa...
1,1,2010,1,25,DEN,Tim Tebow,QB,23,2012.0,1,35.0,Florida,/players/T/TeboTi00.htm,http://www.sports-reference.com/cfb/players/ti...
2,2,2010,2,48,CAR,Jimmy Clausen,QB,22,2015.0,1,21.0,Notre Dame,/players/C/ClauJi00.htm,http://www.sports-reference.com/cfb/players/ji...
3,3,2010,3,85,CLE,Colt McCoy,QB,24,2020.0,2,43.0,Texas,/players/M/McCoCo00.htm,http://www.sports-reference.com/cfb/players/co...
4,4,2010,4,122,PHI,Mike Kafka,QB,23,2014.0,0,4.0,Northwestern,/players/K/KafkMi00.htm,http://www.sports-reference.com/cfb/players/mi...

In [26]:
cleaned.shape

(68, 14)

In [75]:
df = pd.read_csv('data/draft_qbs_2010-2015.csv')
df.head()

,Unnamed: 0,Draft_Yr,Rnd,Pick,Tm,Player,Pos,Age,To,St,G,College/Univ,Player_NFL_Link,Player_NCAA_Link
0,0,2010,1,1,STL,Sam Bradford,QB,22,2018.0,5,83.0,Oklahoma,/players/B/BradSa00.htm,http://www.sports-reference.com/cfb/players/sa...
1,1,2010,1,25,DEN,Tim Tebow,QB,23,2012.0,1,35.0,Florida,/players/T/TeboTi00.htm,http://www.sports-reference.com/cfb/players/ti...
2,2,2010,2,48,CAR,Jimmy Clausen,QB,22,2015.0,1,21.0,Notre Dame,/players/C/ClauJi00.htm,http://www.sports-reference.com/cfb/players/ji...
3,3,2010,3,85,CLE,Colt McCoy,QB,24,2020.0,2,43.0,Texas,/players/M/McCoCo00.htm,http://www.sports-reference.com/cfb/players/co...
4,4,2010,4,122,PHI,Mike Kafka,QB,23,2014.0,0,4.0,Northwestern,/players/K/KafkMi00.htm,http://www.sports-reference.com/cfb/players/mi...

In [91]:
# get college data for a player
def get_college_data(row, data=df):
    url = data.iloc[row]['Player_NCAA_Link']
    college = pd.read_html(url, skiprows=0)[0]
    college.columns = college.columns.droplevel(0)
    return college

In [92]:
college = get_college_data(1)
college

,Year,School,Conf,Class,Pos,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate
0,*2006,Florida,SEC,FR,QB,14.0,22,33,66.7,358,10.8,12.5,5,1,201.7
1,*2007,Florida,SEC,SO,QB,13.0,234,350,66.9,3286,9.4,10.4,32,6,172.5
2,*2008,Florida,SEC,JR,QB,14.0,192,298,64.4,2746,9.2,10.6,30,4,172.4
3,*2009,Florida,SEC,SR,QB,14.0,213,314,67.8,2895,9.2,9.8,21,5,164.2
4,Career,Florida,NaN,NaN,NaN,NaN,661,995,66.4,9285,9.3,10.4,88,16,170.8

In [58]:
# drop 'career' and all proceeding rows
def drop_career_row(df=college):
    career_index = df[df['Year'] == 'Career'].index[0]
    rows_to_drop = len(df) - career_index
    cleaned = df.drop(df.tail(rows_to_drop).index)
    return cleaned

In [47]:
college.drop(college.tail(1).index, inplace=True)

In [59]:
clean = drop_career_row(college)
clean

,Year,School,Conf,Class,Pos,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate
0,*2007,Oklahoma,Big 12,FR,QB,14.0,237,341,69.5,3121,9.2,10.2,36,8,176.5
1,*2008,Oklahoma,Big 12,SO,QB,14.0,328,483,67.9,4720,9.8,11.1,50,8,180.8
2,*2009,Oklahoma,Big 12,JR,QB,3.0,39,69,56.5,562,8.1,8.7,2,0,134.5

In [66]:
# check if the player's last college season was short (could be due to injury, suspension, etc) (less than 6 games is arbitrary, could be tweaked in the future), if so, check if the player played more games in the previous year, and if true return that year. Else, return the latest year (Example: Sam Bradford injured junior(last) year but had Heisman caliber sophomore year, would return the sophomore year since it would be more reflective of actual college performance)
def get_best_season(college_data):
    if college_data.iloc[-1]['G'] < 6 and college_data.iloc[-2]['G'] > college_data.iloc[-1]['G']:
        return len(college_data) - 2
    return len(college_data) - 1

In [67]:
best_season = get_best_season(clean)
best_season

1

In [70]:
# returns player's single season touchdowns in their best year and total career touchdowns
def get_touchdowns(college_data):
    season = get_best_season(college_data)
    td_season = college_data.iloc[season]['TD']
    td_total = college_data['TD'].sum()
    return td_season, td_total

In [71]:
# returns player's single season interceptions in their best year and total career interceptions
def get_interceptions(college_data):
    season = get_best_season(college_data)
    int_season = college_data.iloc[season]['Int']
    int_total = college_data['Int'].sum()
    return int_season, int_total

In [73]:
sb_td_season, sb_td_total = get_touchdowns(clean)
print('Sam Bradford:')
print(f'Single Season Touchdowns: {sb_td_season}')
print(f'Total Career Touchdowns: {sb_td_total}')

Sam Bradford:
Single Season Touchdowns: 50
Total Career Touchdowns: 88

In [74]:
sb_int_season, sb_int_total = get_interceptions(clean)
print('Sam Bradford:')
print(f'Single Season Interceptions: {sb_int_season}')
print(f'Total Career Interceptions: {sb_int_total}')

Sam Bradford:
Single Season Interceptions: 8
Total Career Interceptions: 16

In [80]:
df.head()

,Unnamed: 0,Draft_Yr,Rnd,Pick,Tm,Player,Pos,Age,To,St,G,College/Univ,Player_NFL_Link,Player_NCAA_Link
0,0,2010,1,1,STL,Sam Bradford,QB,22,2018.0,5,83.0,Oklahoma,/players/B/BradSa00.htm,http://www.sports-reference.com/cfb/players/sa...
1,1,2010,1,25,DEN,Tim Tebow,QB,23,2012.0,1,35.0,Florida,/players/T/TeboTi00.htm,http://www.sports-reference.com/cfb/players/ti...
2,2,2010,2,48,CAR,Jimmy Clausen,QB,22,2015.0,1,21.0,Notre Dame,/players/C/ClauJi00.htm,http://www.sports-reference.com/cfb/players/ji...
3,3,2010,3,85,CLE,Colt McCoy,QB,24,2020.0,2,43.0,Texas,/players/M/McCoCo00.htm,http://www.sports-reference.com/cfb/players/co...
4,4,2010,4,122,PHI,Mike Kafka,QB,23,2014.0,0,4.0,Northwestern,/players/K/KafkMi00.htm,http://www.sports-reference.com/cfb/players/mi...

In [93]:
# use the previous helper functions to take the college data and add it to the draft data
def add_college_data(data=df):
    # empty list of stats to be updated and added to the dataframe later
    season_tds_list = []
    total_tds_list = []
    season_int_list = []
    total_int_list = []

    #loop through each row, use helper functions to scrape college data, add to list of stats
    for i in range(0, len(df)):
        college_data = get_college_data(i, data=data)
        college_data_clean = drop_career_row(college_data)
        best_season = get_best_season(college_data_clean)
        tds_season, tds_total = get_touchdowns(college_data_clean)
        int_season, int_total = get_interceptions(college_data_clean)
        season_tds_list.append(tds_season)
        total_tds_list.append(tds_total)
        season_int_list.append(int_season)
        total_int_list.append(int_total)

    # convert lists of stats to series for easier adding into df as a column
    season_tds_series = pd.Series(season_tds_list)
    total_tds_series = pd.Series(total_tds_list)
    season_int_series = pd.Series(season_int_list)
    season_tds_series = pd.Series(total_int_list)

    # add series to data as columns
    data['College_TDs_Season'] = season_tds_series
    data['College_TDs_Career'] = total_tds_series
    data['College_INTs_Season'] = season_int_series
    data['College_INTs_Career'] = total_int_series

In [94]:
df5 = df.head()
add_college_data(data=df5)
df5

IndexError: single positional indexer is out-of-bounds

In [95]:
test_df = get_college_data(3)
test_df

,Year,School,Conf,Class,Pos,G,Cmp,Att,Pct,Yds,Y/A,AY/A,TD,Int,Rate
0,*2006,Texas,Big 12,FR,QB,13.0,217,318,68.2,2570,8.1,8.9,29,7,161.8
1,*2007,Texas,Big 12,SO,QB,13.0,276,424,65.1,3303,7.8,6.9,22,18,139.2
2,*2008,Texas,Big 12,JR,QB,13.0,332,433,76.7,3859,8.9,9.7,34,8,173.8
3,*2009,Texas,Big 12,SR,QB,14.0,332,470,70.6,3521,7.5,7.5,27,12,147.4
4,Career,Texas,NaN,NaN,NaN,NaN,1157,1645,70.3,13253,8.1,8.2,112,45,155.0

In [96]:
for i in range(len(df5)):
    get_college_data(i, data=df5)